@import url('https://fonts.googleapis.com/css?family=Cinzel|Prompt&display=swap');
p, text, b, span{
  font-family: 'Prompt', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 80px;
  padding-top: 20px;
  font-family: 'Cinzel', serif;
}
.map-view {
  background-color: #9189896e;
  > div {
    padding-top: 30px;
    -webkit-box-shadow: 0px 0px 19px 8px rgba(214,207,207,0.68);
    -moz-box-shadow: 0px 0px 19px 8px rgba(214,207,207,0.68);
    box-shadow: 0px 0px 19px 8px rgba(214,207,207,0.68);
    padding: 20px 0px;
  }
}
.info-view {
  .info-text {
    margin: 50px 0px 50px 0px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    h5 {
      font-weight: 900;
    }
    p {
      color: rgba(167, 163, 163, 0.89);
      width: 60%;
      margin: 0 auto;
    }
  }
}

.panel {
  .text {
    padding-left: 20px;
    padding-bottom: 10px;
  }
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
  padding: 20px 0px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.788);
}

.show-detail {
  padding-left: 20px;
  p {
    margin-bottom: 0;
  }
  .img-responsive {
    padding: 20px 0px 0px 40px;
    img {
      border-radius: 50%;
    }
  }

}
.footer {
  margin-top:  50px;
  text-align: center;
}

.gm-style .gm-style-iw-t::after {
  background: none !important;
}

.gm-style .gm-style-iw-c {
  width: 180px;
  height: 70px;
  padding: 7px;
}

.inforWindow {
  width: 250px;
  margin-bottom: 20px;
  p {
    font-size: 12px;
    margin-bottom: 0.5em;
  }
  a {
    color: #007bff !important;
    text-decoration: none !important;
    cursor: pointer !important;
  }
  padding-bottom: 10px;
}

.status {
  
  border-radius: 5px;
  padding: 3px;
  &.nd-good {
    background-color: #a8e05e;
    color: #718a3a;
  }
  &.nd-warning {
    background-color:#fea967;
    color: #b2582a; 
  }
  &.nd-danger {
    background-color: #fa7877;
    color: #af303b;
  }
}
.stable {
  background-color: rgba(43, 43, 236, 0.89);
}
.warning { 
  background-color: rgba(224, 93, 41, 0.863);
}
.danger {
  background-color: rgba(236, 56, 43, 0.89);
}